<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>websocket</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdn-hangzhou.goeasy.io/goeasy.js"></script>
    <script type="text/javascript">
        //url配置
        const url = require("../main/url-config");
        const {
            ipcRenderer
        } = require('electron')

        let goEasy = new GoEasy({
            appkey: 'BS-9a4ebb567431410aa1c1534a23ac47a2'
        });

        goEasy.subscribe({
            channel: 'hello',
            onMessage: function (message) {
                // alert('收到：' + message.content);
                ipcRenderer.send('request-open-kz-window', message.content)
            }
        });
        //-----------
        let websocket;
        //如果浏览器支持WebSocket
        if (window.WebSocket) {
            websocket = new WebSocket(url.websocketUrl); //获得WebSocket对象

            //当有消息过来的时候触发
            websocket.onmessage = function (event) {
                console.log(event.data);
            }

            //连接关闭的时候触发
            websocket.onclose = function (event) {
                console.log("断开连接");
            }

            //连接打开的时候触发
            websocket.onopen = function (event) {
                console.log("建立连接");
            }
        } else {
             console.log("浏览器不支持WebSocket");
        }

        function sendMsg(msg) { //发送消息
            if (window.WebSocket) {
                if (websocket.readyState == WebSocket.OPEN) { //如果WebSocket是打开状态
                    websocket.send(msg); //send()发送消息
                }
            } else {
                return;
            }
        }
    </script>
</head>

<body>
</body>

</html>